<% content_for :page_title, t('.page_title') %>

<div class="login-form">
  <h2 class="text-center mb-4"><%= t('.title') %></h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control', autofocus: true %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, autofocus: true, autocomplete: 'current-password', class: 'form-control' %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="form-group">
        <div class="form-check">
          <%= f.check_box :remember_me, class: 'form-check-input' %>
          <%= f.label :remember_me, class: 'form-check-label' %>
        </div>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit t('.submit'), class: 'btn btn-blu-primary d-block w-100' %>
    </div>
  <% end %>
</div>