<%= form_for @importation do |f| %>
  <div class="row">
    <div class="col-sm-12 input-group mb-3">
      <div class="input-group-prepend">
        <%= f.label :importation_type, t('.select.label'), class: 'input-group-text' %>
      </div>
      <%= f.select :importation_type, ImportationPresenter.importation_types_for_enum, class: 'custom-select' %>
    </div>

    <div class="col-sm-12 col-md-6 input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="file_input">Upload</span>
      </div>
      <div class="custom-file">
        <%= f.file_field :file, class: 'custom-file-input', id: 'file_input', required: true, accept: '.txt' %>
        <label class="custom-file-label" for="file_input"><%= t('.file.label') %></label>
      </div>
    </div>

    <div class="col-sm-12 col-md-2">
      <%= submit_tag t('.submit'), class: 'btn btn-block btn-blu-primary' %>
    </div>
  </div>
<% end -%>
