<% content_for :page_title, t('.page_title') %>

<div class="container pt-4">
  <div class="row title-container">
    <div class="col-12">
      <h1 class="m-0"><%= t('.title') %></h1>
    </div>
  </div>

  <hr class="mb-4"/>
  
  <div class="form-section mb-4">
    <%= render 'form' %>
  </div>
  
  <div class="row">
    <div class="col-12">
      <h4 class="mb-4"><%= t('.last_importations') %></h4>

      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Criado em</th>
            <th>Arquivo</th>
            <th>Tipo</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @importations.each do |importation| %>
            <tr>
              <td><%= importation.long_created_at %></td>
              <td><%= importation.file.identifier %></td>
              <td><%= importation.importation_type %></td>
              <td><%= importation.status %></td>
              <td><%= importation.meta %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
