/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";

.alert-error { @extend .alert-danger; }
.alert-notice { @extend .alert-info; }
.alert-alert { @extend .alert-warning; }

.navbar-dark.bg-blu {
  background-color: #2C3645;
  
  .nav-item.active a {
    color: #00CEEA !important;
  }
}

.btn-blu-primary {
  color: #fff;
  background-color: #00CEEA;
  &:hover {
    color: #fff !important;
    background-color: #00B5D0 !important;
  }
}

.transactions-list {
  .details {
    p {
      font-size: 14px;
    }
    a {
      font-size: 10px;
    }
  }
}

.login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #fff;
  border-radius: 6px;
  padding: 30px 30px 40px;
}

.devise-body {
  background-color: #2C3645;
}

@include media-breakpoint-down(sm) {
  .login-form {
    background-color: #2C3645;
    width: 100%;
    color: #fff;
  }
}