<% content_for :page_title, t('.page_title') %>

<div class="container pt-4">
  <div class="row title-container">
    <div class="col-sm-12 col-md-4 mb-2">
      <h1 class="m-0"><%= t('.title') %></h1>
    </div>
    <div class="col-sm-12 col-md-4 offset-md-4 mt-auto">
      <%= form_tag transactions_path, method: :get do %>
        <div class="input-group">
          <%= select :store_id, nil, @stores, { disabled: 0, selected: @current_store.try(:id) || '0' }, class: 'custom-select' %>
          <div class="input-group-append">
            <button class="btn btn-blu-primary" type="submit"><%= t('.select_store.submit') %></button>
          </div>
        </div>
      <% end -%>
    </div>  
  </div>

  <hr class="mb-4"/>
  
  <% if @current_store.present? %>
    <div class="row mb-3">
      <div class="col-sm-12 col-md-5 text-left mb-2">
        <h4><%= t('.owner', owner: @current_store.owner) %></h4>
      </div>
      <div class="col-sm-12 col-md-7 text-right">
        <h4><%= t('.store_balance', balance: @current_store.balance) %></h4>
      </div>
    </div>

    <div id="transactions_list" class="row transactions-list mb-4">
      <div class="col-sm-12 col-md-8 offset-md-2 px-0">
        <ul class="list-group list-group-flush">
          <% @current_store.transactions.each do |transaction| %>
            <li class="list-group-item">
              <div class="row">
                <div class="col-3 text-left">
                  <%= transaction.datetime %>
                </div>
                <div class="col-4 offset-1 text-center details">
                  <p class="d-block mb-0"><%= transaction.transaction_type.description %></p>
                  <a href="#transaction_item_<%= transaction.id %>" data-toggle="collapse">
                    <%= t('.details') %>
                  </a>
                </div>
                <div class="offset-1 col-3 text-right <%= transaction.procedure_class %>">
                  <%= transaction.transaction_type.signal %>
                  <%= transaction.amount %>
                </div>
              </div>
              <div class="collapse" id="transaction_item_<%= transaction.id %>" data-parent="#transactions_list">
                <p class="mb-1"><%= t('.transaction.card_number', card_number: transaction.card_number) %></h5>
                <p class="mb-0">
                  <%= t('.transaction.recipient_tax_id', recipient_tax_id: transaction.recipient_tax_id) %>    
                </p>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% else %>
    <h5 class="text-center text-muted">Selecione uma Loja</h5>
  <% end %>
</div>
