<nav class="navbar navbar-expand-lg navbar-dark bg-blu">
  <%= link_to 'Blu', root_path, class: 'navbar-brand' %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse right" id="navbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item <%= 'active' if current_page?(transactions_path) || current_page?(root_path) %>">
        <%= link_to t('navbar.transactions'), transactions_path, class: 'nav-link' %>
      </li>
      <li class="nav-item <%= 'active' if current_page?(importations_path) %>">
        <%= link_to t('navbar.importations'), importations_path, class: 'nav-link' %>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to t('navbar.sign_out'), destroy_user_session_path, method: :delete, class: 'nav-link' %>
      </li>
    </ul>
  </div>
</nav>
