<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <meta name="theme-color" content="#000000"/>

    <title><%= content_for?(:page_title) ? yield(:page_title) : t('.title') %></title>

    <link rel="icon" type="image/png" href="https://pagnet-production.s3.amazonaws.com/uploads/layout_setting/favicon/5/favicon.png" sizes="16x16" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= 'devise-body' if devise_controller? %>">
    <% unless devise_controller? %>
      <div class="navbar-content">
        <%= render 'navbar' %>
      </div>
    <% end %>

    <div class="flash-messages">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %> text-center" role="alert"><%= message %></div>
      <% end %>
    </div>

    <div>
      <%= yield %>
    </div>
  </body>
</html>
